@charset "UTF-8";

:root {
    --green: #3BC14A;
    --dark_green: #3B7968;
    --green_background: #8DD7CF;
    --dark_green_background: #33995C;
    --blue: #0097A7;
    --dark_blue: #7A52C3;
    --blue_background: #96C3EC;
    --dark_blue_background: #6864F5;
    --light_grey: #C3CFD9;
    --dark_grey: #4B5C6B;
}